/* page */
html{
box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root{
  --primary-color:#212121;
  --secondary-color:#2196F3;
  --background-primary-color:#ffffff;
  --background-second-color: #2F303A;
  --accent-text-color:#757575;
}

body{
  font-family:'Roboto',sans-serif;
  color: var(--primary-color);
  background-color: var(--background-primary-color);
  letter-spacing: 0.03em;
  margin: 0;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

img{
  display:block;
  margin: 0%;
}

address{
  font-style: normal;
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header-wrap{
  display: flex;
  align-items: center;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color:var(--primary-color);
  margin: 24px 93px 25px 0;
}

.logo-blue{
  color:var(--secondary-color)
}

.site-nav{
  display: flex;
}

.site-nav .link{ 
color: var(--primary-color);
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
}

.site-nav>li:not(:first-child){
  margin-left: 50px;
}

.site-nav .current-page{
  color: var(--secondary-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
color: var(--secondary-color);
}

.contact-nav{
  display: flex;
  margin-left: auto;
}

.contact-nav>li:not(:first-child){
  margin-left: 50px;
}

.contact-link{
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--accent-text-color);
}

a.contact-link:hover,
a.contact-link:focus{
 color: var(--secondary-color);
}
header{
  border-bottom: 1px solid #ECECEC;
}

.section{
  padding: 94px 0;
}
/* hero-section */

.hero-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero{
  background-color: var(--background-second-color);
  text-align: center;
}

.hero-title{
color:var(--background-primary-color);
display: inline-block;


padding-top: 106px;
margin: 0px 0 30px 0px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.hero-btn{
  background-color: var(--secondary-color);
  color: var(--background-primary-color);
  display: block;
  
  margin-bottom: 106px;
  padding: 10px 32px;
  border-radius: 4px;
  border-width: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}

/* advantage-section */

.advantage-wrap{
display: flex;
}

.advantage-title{
  margin: 0px 0 10px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}

.advantage-list>li:not(:last-child){
  margin-right: 30px;
}

.advantage-text{
  color: var(--accent-text-color);

  margin: 0;

  font-size: 14px;
  line-height: 1.7;
}
/* what-we-do-section */

.what-we-do-wrap{
display: flex;
justify-content: space-between;
}

.section-title{
  margin: 0px 0 50px 0;
}



/* our-team-section */
.our-team{
  background-color: #F5F4FA;
  text-align: center;
}


.team-list{
  display: flex;
  justify-content: space-between;
}

.team-list>li{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-title{
  margin: 0%;
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}

.team-title{
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text{
  color: var(--accent-text-color);
  font-size: 16px;
  line-height: 1.18;
}

/* footer */

footer{
  background-color: var(--background-second-color);
}

.logo-footer-link{
  display: inline-block;
  margin: 60px 0 20px 0;
}
.logo-footer{

  color: var(--background-primary-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.footer-contact:last-child{
  display: inline-block;
  margin-bottom: 60px;
}

.footer-contact,
.footer-contact>a{
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-contact:first-child{
  color: var(--background-primary-color);
}


.footer-contact>a:hover,
.footer-contact>a:focus,
.footer-contact:hover,
.footer-contact:focus{
  text-decoration: none;
  color:var(--secondary-color);
}


/* portfolio */

.filter-wrap{
  text-align: center;
  margin-bottom: 56px;
}

.filter-wrap>li{
  display: inline;
}

.filter-wrap>li:not(:last-child){
  margin-right: 8px;
}

.filter-btn{
padding: 6px 22px;
border-radius: 4px;
border-color: transparent;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
background: #F5F4FA;
}

.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--secondary-color);
  color: var(--background-primary-color);
}
.portfolio-list h3{
padding: 20px 24px 4px 24px;
margin: 0;

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list>li:not(img){
  border: 1px solid #EEEEEE;
}

.portfolio-list>li:nth-last-child(n+4){
  margin-bottom: 30px;
}


.portfolio-list a{
  text-decoration: none;
  color: var(--primary-color);
}

.portfolio-text{
padding: 4px 24px 20px 24px;
margin: 0;

  color: var(--accent-text-color);

font-size: 16px;
line-height: 1.8;
}

